/* Regular Link */
a {
  text-decoration: none;
  color: #333;
}

/* Hover  */

a:hover {
  color: red;
}

/* active : the moment the link is clicked */

a:active {
  background-color: purple;
}

/* Focus */
a:focus {
  background-color: yellow;
}

/* visited */
a:visited {
  color: coral;
}
